@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

body {
  height: 100vh;
  margin: 0;
  overflow: hidden;
  font-family: Roboto, sans-serif;
  display: flex;
  flex-direction: column;
}

.buttons {
  gap: 5px;
}

.content,
.input,
.buttons {
  display: flex;
  justify-content: center;
  align-content: center;
  margin: 10px;
}

.content {
  flex-flow: column wrap;
  flex: 1;
}

.footer {
  background-color: #eeeeee;
}

.header,
.footer {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  padding: 5px;
}

a {
  text-decoration: none;
  color: grey;
}

ul {
  display: flex;
  list-style-type: none;
  margin: 15px;
  gap: 15px;
  padding: 0;
}

img {
  width: 600px;
}

button {
  font-family: Roboto, sans-serif;
  border: none;
  border-radius: 8px;
  background: #eee;
  padding: 8px 16px;
  font-size: 15px;
}

input {
  border: 1px solid #ddd;
  border-radius: 30px;
  padding: 8px 24px;
  width: 400px;
}
